---
import Layout from "../c/Layout.astro";
import Box from "../c/Box.astro";
---

<Layout>
	<Box>
		<h1>Pomyślnie utworzono kartę postaci!</h1>
		<p>Możesz sprawdzić ją <a href='/allCards'>tutaj</a>.</p>
	</Box>
</Layout>

<style>
	h1,
	p {
		text-align: center;
	}
</style>
