---
import Layout from "../c/Layout.astro";
import Box from "../c/Box.astro";
---

<Layout>
	<Box>
		<h1>Projekt systemu do zarządzania postaciami do gier RPG</h1>
		<p dir='auto'>
			Small 🚀Astro Project - system for managing characters for RPG games Like Dungeons and Dragons, Warhammer, etc. This is just the
			frontend part. Backend is realised in CodeIgniter 4, and will be soon also availible on my GitHub.
		</p>
	</Box>
	<div class='spacer'></div>
	<Box>
		<h2>Roadmap - czyli co jeszcze jest do zrobienia w projekcie:</h2>
		<h3 tabindex='-1' class='heading-element' dir='auto'>Level one</h3>
		<ul dir='auto'>
			<li>✔ Initial Layout in Astro / Svelte</li>
			<li>✔ Register / Login forms</li>
			<li>✔ Register / Login API communication</li>
			<li>✔ Add a card form (at least one system)</li>
			<li>✔ Add a card API communiaction</li>
			<li>🛠 List cards</li>
			<li>⚪ View single card</li>
			<li>⚪ PDF export (at least one system)</li>
			<li>⚪ Remove Card</li>
			<li>⚪ Edit card (mostly API Communication)</li>
		</ul>
		<h3 tabindex='-1' class='heading-element' dir='auto'>level one and a half</h3>
		<ul dir='auto'>
			<li>⚪ Add basic suppor for at least 3 systems</li>
			<li>⚪ Audit some security, learn about it, try your best 💪</li>
		</ul>
		<h3 tabindex='-1' class='heading-element' dir='auto'>Level two</h3>
		<ul dir='auto'>
			<li>⚪ Create game room (in CI4)</li>
			<li>⚪ Join game room (new API with Websockets on Node - totally separate project)</li>
			<li>⚪ Send rolls from player card to Websocket Game Room API</li>
			<li>⚪ Include everything that I've forgot during making this list</li>
		</ul>
	</Box>
</Layout>

<style>
	.spacer {
		margin-bottom: 16px;
	}
	h3 {
		font-size: 1.2rem;
		margin-bottom: 8px;
		margin-top: 36px;
	}
	ul {
		padding-left: 16px;
	}
</style>
