---
import Layout from "../c/Layout.astro";
import Box from "../c/Box.astro";
---

<Layout>
	<Box>
		<h1>Pomyślnie zalogowano!</h1>
	</Box>
</Layout>

<style>
	h1,
	p {
		text-align: center;
	}
</style>
